
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.ct-head-title::after{
    position: absolute;
    top:0;
    left: 0;
    display: block;
    border: 1px solid aqua;
    width: 50px;
    height: 1px;
    background-color: aqua;
}