@import 'elements';

$bg-color: greenyellow;
$li-color: black;
$reg-padding: 10px;

::placeholder{
    color: gray;
}

div{
    background-color: $bg-color;
    padding: $reg-padding;

    li{
        color: $li-color;
    }
}